*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto,sans-serif;
}
a{
    text-decoration: none;
}

:root{
    --primary_red:#E11D3A;
    --accent:#F7941D ;
    --secondary_color_black:#000;
    --secondary_color_white:#fff;
}

#cursor{
    height: 20px;
    width: 20px;
    border: 3px solid var(--secondary_color_white);
    border-radius: 50%;
    position: fixed;
    background-color: transparent;
    transform: translate(-50%,-50%);
    pointer-events:none;
    z-index: 3;
}
#main{
    width: 100%;
    background-color: var(--secondary_color_black);
}

.images img {
    height: 100px;
}

.logo a img { 
    height: 50px;
}


.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1920px;
    width: 1080px;
    margin: 0 auto ;
    padding-top:10px;
}

.nav-links{
    display: flex;
    gap: 13px;
}

.nav-links a {
    text-decoration: none;
    color: var(--accent);
    padding-bottom: 5px;
    position: relative;
    display: inline-block;
}


.nav-links a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px; /* Thickness of the line */
    background-color: var(--primary_red);
    transition: width 0.3s ease; /* Adjust the duration and easing as needed */
}

.nav-links a:hover::after {
    width: 100%;
}


.nav-links a li {
    color: var(--primary_red);
}
.nav-links li{
    list-style: none;
}


.hero-page{
    width: 100%;
    height: 100vh;
    color:var(--secondary_color_white);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    line-height: 1;
}


.hero-page video{
    height: 500px;
    position: absolute;
    z-index: 1;
    opacity: 0.5;
}

.hero-page h1, p{
    z-index: 2;
}

.hero-page h1{
    font-size: 5rem;
    color:transparent ;
    -webkit-text-stroke: 2px white;
    text-align: center;

}
.hero-page .t1:hover{
    color:var(--primary_red);
}
.hero-page .t2:hover{
    color:var(--primary_red);
}
.hero-page .t3{
    color:transparent ;
    -webkit-text-stroke: 2px white;
    font-size: 3rem;
}
.hero-page .t3:hover{
    color:var(--primary_red);
}

.hero-page .quote{
    margin-top: 50px;
}

.team-description{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.team-description .team-images{
    height:inherit;
    width: 60%;
    overflow: none;
}
.team-description .team-images img{
    height:100%;
    width: 100%;
    object-fit: cover;
}

.team-description .team-right{
    height: 100px;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding-right: 3rem;
}
.team-right p{
    text-align: center;
}

.team-right h2{
    font-size: 2.5rem;
    color: var(--primary_red);
}

.formula-bharat-page{
    max-width: 1920px;
    width: 1080px;
    margin: 0 auto ;
}

.formula-bharat-page .title-bharat {
    color:var(--primary_red); 
    padding-top: 5vw;
}
.formula-bharat-page .title-bharat h2:nth-child(1){
    font-size: 2.5rem;
}

.formula-bharat-page .title-bharat h2:nth-child(2){
    color:transparent ;
    -webkit-text-stroke: 1px white;
    letter-spacing: 5px;
    font-size: 2rem;
    padding-left: 30px;
}

.formula-bharat-page .models {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    margin-top: 5vw;
}

.formula-bharat-page .models .mleft{
    overflow: hidden;
    width: 45%;
    height: inherit;
    color:white; 
    /* border: 2px solid red; */
}

.descriptions{
    width: 90%;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.formula-bharat-page .models .mleft p{
    font-size: 1.4vw;
    line-height: 1;
    font-weight: 400;
    /* text-transform: capitalize; */
    text-align: center;
    margin: 1.5vw 0;
}

.descriptions h3{
    font-size: 1.8rem;
}


.formula-bharat-page .models .mright{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 45%;
    height: inherit;
}

.models .mright .images {
    width: 90%;
    height: 90%;
}
.images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btndiv {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.btndiv button {
    padding: 0.5vw 3vw;
    border-radius: 100px;
    border: 2px solid var(--secondary_color_black);
    background-color: var(--secondary_color_white);
    font-size: 1vw;
    font-weight: 500;
    cursor: pointer;
    opacity: 0.9;
}

.btndiv button a{
    color:black;
}

.sponsor-list{
    width: 100%;
    height: 100vh;
}

.item{
    position: absolute;
    width: 200px;
    height: 200px;
}

.sponsor-list img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    border-radius: 12px;
}

.sponsors{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.front-text{
    position: absolute;
    text-align: center;
    color:white;
}

.front-text h3{
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: 400;

}

.featured {
    width: 100%;
    color: white;
    position: relative; 
}

.featured .title-feature h2{
    font-size: 3.5rem;
}

.featured .featured-list .elem{
    border: 2px soild red;
}

#dot{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: var(--primary_red);
    margin: 0 12px;
    display: inline-block;
}
.title-feature{
    white-space: nowrap;
    overflow: auto;
    margin: 3rem 0;
}
.title-feature::-webkit-scrollbar{
    display: none;
}

.feature-rounding h2{
    display: inline-block;
}
.feature-rounding{
    white-space: nowrap;
    display: inline-block;
    animation-name: move;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes move {
    from {
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

.featured-list{
    width: 1080px;
    margin: 0 auto;
}

.elem {
    height: 90px;
    width: 100%;
    position: relative;

    border-bottom: 1px solid var(--secondary_color_black);
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 0 1.5vw;
    border-radius: 15px;
}

.elem h2 {
    font-size: 2vw;
    position: relative;
    z-index: 9;
}

.elem .overlay {
    height: 100%;
    width: 100%;
    background-color: var(--accent);
    position: absolute;
    left: 0;
    top: -100%;
    transition: all ease 0.25s;
    border-radius: 15px;
}

.elem:hover .overlay {
    top: 0;
}

.fixed-image{
    position: fixed;
    height: 227px;
    width: 200px;
    z-index: 10;
    top: 35%;
    left: 59%;
    border-radius: 12px;
    display: none;
    background-position:center;
    background-size:contain;
    box-shadow: -3px 3px 7px 1px white;
    transition: all ease 0.4s;
}

.achievements{
    width: 100%;
}
.achievements .heading{
    color:white;
    margin: 3rem 0;
    text-align: center;
    font-size: 3rem;
}

.achievement-container{
    width: 1080px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.achievements{
    overflow: hidden;
    width: 100%;
    /* height: 100vh; */
}

.achievement-container img{
    height: 90%;
    width: 100%;
    object-fit: cover;
}
.achievement-container .aleft{
width: 45%;
height: 400px;
}
.achievement-container .aleft p{
    /* font-size: 1.3rem; */
    margin: 7.5px 0;
    text-align: center;
}
.achievement-container .aright{
width: 45%;
height: 400px;
}
.achievement-container .aright p{
    text-align: center;
}
.achievement-container .aright img{
    height: 85%;
}
.joinus-bnt button {
    margin: 2rem 0;
    padding: 1rem 2.5rem;
    background-color:var(--primary_red);
}

.joinus-bnt button a {
    color:white;
    font-size: 1.3rem;
}

.footer{
    color:white;
    width: 1080px;
    margin: 0 auto;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0;
    border-top: 2px solid var(--primary_red);
    border-bottom: 2px solid var(--primary_red);
}

.footer .shireto-info h2{
    color:var(--primary_red);
    font-size: 1.6rem;
}
.footer .shireto-info h3 , h4{
   font-weight: 400;
}

.footer .contacts :hover {
    color: var(--primary_red);
}
.footer .contacts {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.footer .contacts a{
    color: white;
    font-size: 1.2rem;
}

.footer .social-medias{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;   
}

.footer .social-medias a{
    color: white;
    font-size: 1.8rem;
}

.footer .social-medias a:hover{
    color: var(--primary_red);
}